*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: brown;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.testimonials-container{
    padding: 6% 3%;
}
.testimonial{
    padding: 12px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.testimonial img{
    border-radius: 29px;
    width: 40px;
    height: 40px;
    margin-right: 11px;
}
.testimonial .head{
    height: 50px;
    display: flex;
    flex-direction: row
}
.testimonial .name{
    font-weight: 600;
}
.testimonial .designation{
    opacity: 0.7;
    font-size: 0.8rem;
}

.testimonial-1 .content, .testimonial-2 .content, .testimonial-4 .content{
    color: rgba(255, 255, 255, 0.7);
}
.testimonial-3 .content, .testimonial-5 .content{
    color: rgba(0, 0, 0, 0.7);
}
.testimonial-1{
    background-color: hsl(263, 55%, 52%);
    color: white;
    
}

.testimonial-2{
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.testimonial-3{
    background-color: hsl(0, 0%, 100%);
    
}

.testimonial-4{
    background-color: hsl(219, 29%, 14%);
    color: white;
}

.testimonial-5{
    background-color: hsl(0, 0%, 100%);
    
    
}